@keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #0F766E;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #0F766E;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #0F766E;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

  @keyframes drift {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    100% {
        transform: translate(30px, -50px) scale(1.1);
    }
}